
body {
    background-color: #FCFFF7;
    margin: 10px;
}

h1 {
    color: #262626;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    font-size: 50px;
    margin-left: 10px;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px;
}

h2 {
    margin-top: 0px;
    color: #262;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    text-shadow: 1px 1px 1px;
    font-weight: 400;
}

h3 {
    color: #262626;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: block;
    text-align: center;
    margin: 20px;
}
div#area{
    background-color: rgb(110, 255, 110);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 200px;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-left: 240px;
    margin-top: 215px;

}